@use '../abstracts' as *;

.social-link {
  @include reset;
  display: block;
  width: 64px;
  height: 64px;

  &:hover {
    cursor: pointer;
  }

  &__icon {
    @include reset;
    display: block;
    width: 100%;
    height: 100%;
  }
}
