$max-content-width: 1000px;

$min-content-width: 320px;

// main colors

$color-black: #131316;

$color-white: #FFFFFF;

$color-grey: #D9D9D9;

$color-red: #FF0000;

$color-card: rgba(255, 255, 255, 0.95);

// fonts

$font-family: 'Segoe UI', Arial, sans-serif;

// breakpoints
